<a href="https://colab.research.google.com/github/HUFSDavid/spring2024/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ('nice to meet you')      # Lesson 3/ 앞에서는 input output외 코랩이 뭔 지 알아보는 시간을 가졌다. 다음부터가 중요.
                                # print
                                # 는 built in function. print 입력 후 괄호, 그리고 (큰)따움표에 쓰고싶은 말 입력.

nice to meet you

In [4]:
print ('I love coding')            # print 연습중
print ( 'I love the way my professor teaches me')
print ('I will get A')

I love coding
I love the way my professor teaches me
I will get A

In [15]:
print ('Hello, Python')           # input에 대하여 알아보자 (built-in function)
greet= input()                    # input을 쓰면 상대방이 입력할 수 있는 대화창이 나타나네.
                                  #인풋을 한 번 쓰고 입력된 값에 따라서 다음 결과가 출력되게 할 수 있겠다.
print (greet)

Hello, Python
hi
hi

In [8]:
# input연습  a=3이라고 했을 때 앞으로 3(value)이 a(variable)가 된다고 생각하면 편함.
#x= 10 일 떄 10이라는 value가 x(variable)에 assign 되었다.
# y= 'hello, World'는  hello, world라는 text가 variable y에 assign 되었다.

print ('hello, Python')
greet= input ()
print (greet)

hello, Python
hello
hello

In [10]:
#y= x*10
#x= 5
#print (y)  이건 안되지. x값이 먼저 주어져야 올바른 코딩값.

x= 5
y= x*10

print(y)

50

In [14]:
k= 'welcome'

print (k*5)

welcomewelcomewelcomewelcomewelcome

In [13]:
l= x*10
print (l)

50

In [17]:
#Variable
#a=3이라고 했을 때 앞으로 3(value)이 a(variable)가 된다고 생각하면 편함.
#x= 10 일 떄 10이라는 value가 x(variable)에 assign 되었다.
# y= 'hello, World'는  hello, world라는 text가 variable y에 assign 되었다.
# rule
# 숫자로 시작 x
#알파벳 또는 언더바 (_)
# 대소문자에 민감. age/aGe/agE 다 다른 값으로 나옴.
# a1= 10
#a_1= 10
# _a= 10
# 다 가능 , but
# 1a= 10 등 숫자로 시작 x

In [24]:
# x값이 위 코드에서 입력된 적이 있다면 그 값으로 쭉 간다. 바꿀 떄는 다시 한 번 써주기 예를 들어 위에서 x= 10이라고 했는데 바꾸고 싶으면
x = 10
print (x)
#이렇게 재정의 할 수 있다.

10

In [25]:
x = x-5
print (x)  #이렇게 재정의 할 수 있다.

5

list에 대해 배워보자. 멀티플아이템!
[]사용하기.
-index는 0부터 시작.

```
# This is formatted as code
```

In [31]:

k = [1,2, 'hello']
k [-2]

2

In [42]:
mystring = "python"
mystring [2:4]
mystring [:]
# 이런 식으로 두개의 값을 하나의 fucntion(?맞는지 모름)으로 도출하려 하면 마지막의 결과값만 도출된다. 이 때는 print로 일일히 지정해줘야 나옴.
print (mystring [:])
print (mystring [2:4])

python
th

4/6일 수업 끝!
4/2 강의 노트 시작